name: Deploy WASM Demo

permissions:
  contents: write

on:
  push:
    branches:
      - main  
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'latest'

      - name: Build WASM
        run: wasm-pack build --target web --release

      - name: Run Benchmarks
        run: cargo bench

      - name: Prepare Deployment
        run: |
          mkdir dist
          cp demo/index.html dist/
          cp demo/benchmarks.html dist/
          rm pkg/.gitignore
          cp -r pkg dist
          cp -r target/criterion dist/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
